@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#E9F2F5, #CEE0E7);
  font-family: 'Roboto';
}

.card {
  /* your code */
}

/* linear-gradient(#E9F2F5, #CEE0E7); */